<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script defer src="/assets/js/scripts.min.js?v=59641147"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="Card" th:each="book : ${recommendedBooks}" th:fragment="cardFragment">
    <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
    </div>
    <div class="Card-content">
        <strong class="Card-title"><a href="#" th:text="${book.title}">Техника</a>
        </strong>
        <div class="Card-description" th:text="${book.authorId}">Кондратенко Александр Петрович
        </div>
        <div class="Card-cost"><span class="Card-priceOld" th:text="${book.priceOld}">₽300.00</span><span class="Card-price" th:text="${book.price}">₽190.00</span>
        </div>
    </div>
</div>
</body>
</html>